body {
    /*
     *text-align: center;
     */
    width: 70%;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.589);
    padding: 3em 2px;

}

header {
    -moz-transition: background-color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
    background-color: rgba(206, 206, 206, 0.459);
    height: 1.5em;
    left: 0;
    line-height: 1.5em;
    padding: 0 2em;
    position: fixed;
    top: 0;
    width: 10%;
    z-index: 10000; padding: 8px 2px;
    text-indent: 2em;
}

h1 {
    font-size: 18px;
    text-align: center;
    padding:1px 1px;
    font-size: 1.5em;
    font-weight: 500;

}

h2 {
    font-size: 16px;
    font-weight: 200;
    border-left: 3px solid #1cc4a8;
    padding-left: 1em;
}

h5{ font-size: 13px;
    padding-left: 1em;
    text-align: justify;
    margin: 0px 0px;
    font-weight: 400;
    color: #727171
}

p {width: auto;
    margin: 0px 0px;
    line-height: 1.7;
    font-weight: 200;
    font-size: 16px;
    padding: 8px 2px;
    text-indent: 0em;
    text-align: justif5y;
}
blockquote
{background:rgb(245, 246, 250);
    font-size: 14px;
    padding-left: 1em;
    text-align: justify;
    margin: 0px 0px;
    font-weight: 400;
border-left:5px solid rgb(186, 187, 187);padding:5px 6px;margin-top:6px}

strong{line-height: 2;
    font-size: 16px;
    font-weight: 800;
    padding:1px 1px;

   }

a {
    margin: 0px 0px;
    line-height: 1.7;
    font-weight: 200;
    font-size: 1em;
    padding: 8px 8px;
    text-indent: 2em;
    color: #53b2fff8
    
}

a:visited {
    color: rgb(92, 91, 91);
}

a:hover {
    color: rgba(4, 160, 25, 0.842);
}

.aligncenter img{
    /*text-align: center;*/
    clear: both;
    width: 60%;
    height:60%;
    display: block;
    margin: auto;
    border-radius: 5px 5px 5px 5px;
	margin-bottom: 1em;
    margin-top: 1em;
    position: center;
}
 

