<html><head>
    <link rel="SHORTCUT ICON" href="http://i2.chinanews.com/zgxwzk/image/image/pc_17.png">
       <meta charset="utf-8">
       <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
       <meta property="og:title" content=中国新闻周刊-社会"">
<meta property="og:description" content="中国新闻周刊-社会">
<meta property="og:image" content="http://www.inewsweek.cn/10/2018/1225/logo.png">
       <SCRIPT language=JavaScript>
        　　function click() {
　　　alert('谢绝复制！')}
        　　function clickl(){
        　　　　if (event.button==2){alert('谢绝复制！请谅解！')}}
        function ctrlkeydown(){
        　　　　}
        　　　　　　document.onkeydown=ctrlkeydown;
        　　　　　　document.onselectstart=click;
        　　　　　　document.onmousedown=clickl;
        </script>
    </head>
 <title>中国新闻周刊-社会</title>

<iframe name="myframe" src="http://news.inewsweek.cn/society/"
frameborder="0" scrolling="auto" width="100%" height="100%" onload="document.all['myframe'].style.height=myframe.document.body.scrollHeight">
</iframe>