<html><head><link rel="SHORTCUT ICON" href="/images/Cos.png"><meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
<link rel="stylesheet" href="main.css">
<meta property="og:title" content="about 233">
<meta property="og:description" content="about 233">
<meta property="og:image" content="https://ndbk.github.io/images/lay2.jpg"><title></title>
<title>about 233</title></head>
<!-- Content --><section id="banner"><div class="inner">

<h1>关于233</h1>
<p>本页面存放sns链接🔗以及部分笔记外链，链接404有空则换，版权归属原作者。感谢浏览。</p><hr>
<h3>互联网链接🔗</h3><li>
<a href=https://www.zhihu.com/people/zhihuadmin"">知乎-Zhihu小管家</a>
<a href="http://weibo.com/u/5681918507">微博-海南警方</a> 
<a href="https://weibo.com/wflanker">微博-来去之间</a> 
<a href="https://twitter.com/lovechan64">twitter-陈乐福</a>
<a href="http://weibo.com/2410626252/HyHkNa1YW">唱吧-音频：爱在A站</a>
</li>
<p></p>
<p></p>
