<html><head>
        <link rel="SHORTCUT ICON" href="/images/Cos.png">
           <meta charset="utf-8">
           <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
           <link rel="stylesheet" href="main.css">
           <noscript><link rel="stylesheet" href="noscript.css" /></noscript>
       </head>
       <title>如何防止黑恶势力死灰复燃？</title>
       <section id="banner">
       <div class="h5">
<h1>吕德文：如何防止黑恶势力死灰复燃？</h1>
<h2>文/观察者网专栏作者 吕德文 <a href="https://www.guancha.cn/LvDeWen/2019_06_07_504736.shtml">原文链接</a></h2>
<p>6月4日，全国扫黑办派大要案督办组进驻昆明，将督促云南省有关部门依法加快孙小果案办理进度。此前，全国扫黑办已于5月24日发布消息，将云南孙小果案列为重点案件，由全国扫黑办挂牌督办。</p>
<p>早在4月9日，全国扫黑办召开新闻发布会，发布了由“两高”、“两办”印发的关于办理恶势力、财产处置、“套路贷”及“软暴力”等刑事案件的四个意见。这四个意见和2018年1月发布的《关于办理黑恶势力犯罪案件若干问题的指导意见》一道，既是扫黑除恶专项斗争坚持法治性的保障，亦是实现“除恶务尽”的法律保障。基层灰黑势力有深厚的社会基础，防止其死灰复燃是一项艰巨的任务。应该说，这四个意见在专门机关办理黑恶势力势力案件中具有极强的现实指导意义，尤其是对防止黑恶势力死灰复燃具有重要作用。</p>
<p>就扫黑除恶专项斗争的法律实践而言，对黑社会性质组织犯罪的打击有较为完善的法律依据。《刑法》第294条对“组织、领导、参加黑社会性质组织罪”有明确规定，主要包括四个要件：组织特征、行为特征、经济特征和危害性特征。客观上，对黑社会性质组织犯罪打击的法律要求是比较高的。</p>
<p>最为直接的原因是，随着法治建设的逐步深入，黑社会性质组织也有越来越强的“法律意识”，其组织行为越来越隐蔽。笔者在调研中就发现，很多具有明显黑社会性质组织的犯罪集团，其运作方式在这几年有了极大的改变，组织方式朝两极化方向变化。一些犯罪集团热衷于企业化运作，强化“正规化”建设，对集团成员的纪律约束加强。因此，在一般情况下，这一类型的犯罪集团至少在行为特征上，已经很难辨别其与一般企业的区别——他们已经基本上不运用明显的暴力、威胁手段。还有一些犯罪集团，则通过弱化组织化程度，“化整为零”，从而实现了法律规避。这些犯罪集团，哪怕是要组织实施聚众斗殴等“低级”的犯罪行为，也是以临时雇佣的方式在社会上招募“马仔”。</p>
<p>事实上，黑社会性质组织的两极化发展，是一个相辅相成的过程。笔者在跟一些成功“转型”的黑社会性质组织成员接触时，感触最深的便是我们的社会文明了，其实黑社会也变“文明”了。那些曾经混社会的“企业家”，现在都对打打杀杀嗤之以鼻，觉得那是低级混混所谓，“没文化”，“不懂事”。</p>
<p>笔者在一位朋友的引荐下，曾经访谈过一个已经成功“转型”的在道上还说得上话的企业老板。这位老板自称“就喜欢和文化人打交道”，在讲述完其年轻时的“奋斗史”后，还开玩笑能否给请笔者给他写一本书。这个亦黑亦白的老板非常有代表性。就如他所称的，年轻时“打打杀杀”的日子（满头刀疤就是明证）早就过去了，现在“政府也不允许啊”。哪怕是他这种初中没上完的混混头目，也得转型做文明人了，否则就会被时代淘汰。</p>
<p>但话又说回来，黑社会性质组织犯罪，其根本依仗还是暴力、威胁等手段，总得有人去实施。这位外号“疤子”的老板不做，自然有“员工”或“伢儿们”去做。故而，一些聪明的黑社会性质组织和领导者，一方面加强核心成员的正规化建设，另一方面又倾向于把低级混混置于“临时工”的位置，双管齐下，极大地减少了组织风险。</p>
<p>笔者这几年在街头做田野调查，发现连“伢儿们”也很懂得分寸了。在一次田野调查中，刚好碰到几个“管理员”收沿街摊贩的“卫生费”。这些“伢儿们”收费时也“讲规矩”，客客气气的，拿了摊主的小吃竟然还付钱！绝大多数摊贩也乖乖地交了保护费，但有一个摊主说没带钱，“伢儿们”竟然也不着急，说“明天是截止日期，否则滚蛋”——风轻云淡，真是有气派。</p>
<p>简单说来，“组织、领导、参加黑社会性质组织罪”是一项较为成熟的罪名，其认定条件也较为严格。但任何法律实践都遵循“控制辩证法”，治理者的任何行为都会激起被治理者的反弹。法律要求越高，越严格，看上去是惩罚的标准明确了，打击的精准度增加了，但也意味着给那些有心的犯罪份子提供了一份可供操作的“避罪指南”。</p>
<p>举个简单的例子，很多黑社会性质组织的主要经济来源是从事黄赌毒等产业。在很多地方，连“开赌场”都变得隐蔽了不少。小区里的会所，乡间的“茶馆”，都成了赌场的外衣。甚至于，一些在乡间“作局”的黑社会性质的头目，也极会“算计”，最大程度地规避了公安机关的打击。比如，赌博方式就用普通的打麻将的形式，只不过是50元、100元一局的“大牌”而已；在熟人社会中，“作局”的头目绝不会运用威胁、暴力的形式让赌徒参与赌博，而是用“给点面子”等方式怂恿；收取赌徒们所欠赌资时，也犯不着用赤裸裸的暴力手段，只是派几个小混混到赌徒家里“坐坐”，或者街上碰到了“接到”县城宾馆去“玩玩”，不拿到钱就不让回家。</p>
<p>由于黑恶势力在“与时俱进”，扫黑除恶专项斗争的法律实践就面临极大的挑战。首当其冲的是，它加大了警力消耗。平心而论，一般的公安机关在常规型的警务活动中，是比较难承办太多的黑社会性质的犯罪案件的。这是因为，哪怕是一件案件，也得费极多的警力——要梳理犯罪集团的内部组织结构，主要经济活动，系列犯罪行为的串联，以及建立完整的证据链，哪一个方面都要有极其专业的技术，还得耗费大量的基层基础工作。</p>
<p>然而，专门机关的力量其实是极为有限的。笔者在基层公安机关调研时发现，大多数地方的破案率其实都在20%以内。为了保障大案、要案的侦办，就得让一些普通案件延后。很多民警都直白地说，连他们自己和家属的手机被盗了，够得上立案条件，但都不会去立案——因为立了案也不可能有警力去侦破。</p>
<p>中央提出了扫黑除恶专项斗争后，各级专门机关都成立了扫黑办，抽调专门的警力从事扫黑工作。笔者调研的一个市级公安机关，扫黑专班从各个县级公安机关抽调了100多警力，且都是基层骨干。哪怕如此，也无法应对庞大的侦办工作量。并且，这也给基层公安工作带来了极大的压力。这是因为，每个县级公安机关也有打击任务，还不能放掉常规性的警务工作。</p>
<p>更为重要的是，如果按照原有的法律规定，专门机关即便花大力气，打击效果也不能保证。简单而言，很多黑社会性质组织其实已经“转型”变白、变灰了。因此，在相关的案件中，呈现出来的黑恶案件，“恶势力”要比“黑势力”多得多——它们够不上黑社会性质组织罪的要件，却又被老百姓深恶痛绝，无论是犯罪的动机、犯罪行为方式还是犯罪后果，都不亚于黑社会性质犯罪。两院、两部的四个意见，显然是回应了专门机关在扫黑除恶专项斗争中的对“宽严相济”的法律需求。</p>
<p>一方面，“恶势力”必能等同于其他一般犯罪份子，必须严惩。事实上，更能干扰人民群众安全的可能不是黑社会性质组织，而是分布甚广无处不在的恶势力。最近几年，笔者至少有3个亲人受到恶势力不同程度的滋扰和威胁，有一位至亲甚至还差一点被逼自杀。如同四个意见所提及的，恶势力的确犯不上是黑社会性质组织要件，但这些犯罪份子沆瀣一气，为祸乡里，且借用熟人社会网络，他们更容易对群众制造恐慌，影响人民群众的日常生活秩序。“恶势力”之所以可以横行乡里，恰恰是因为他们躲避了法律制裁——并不是公安机关不作为，而是法律奈何不了他们。每次公安机关采取措施，对这些人而言只能算是伤及皮毛而已。一些恶势力，甚至还将受到了专门机关的打击为“资本”，被惩罚之后更为嚣张。事实上，就黑恶势力的组织文化而言，“争勇斗狠”恰恰是其获得群体认同的文化资本，也是其在群体内部竞争中取胜的关键。在这种“组织激励”下，一些黑恶势力反而将“法律制裁”当作了一种资本。为了减少这种“逆向激励”，提高惩罚力度，增加犯罪成本，就是关键。</p>
<p>另一方面，“恶势力”也不能和黑社会性质犯罪一样处理。如前所述，很多“恶势力”的成员其实就是专司“争勇斗狠”的“临时工”。他们虽为黑恶势力“干活”，也可以说是黑恶“分子”，但他们的确拿的是“工钱”，并没有获得多大利益。甚至于，每一次集体行动，很多“临时工”也搞不清楚其背后的组织意图。因此，对于这些并没有组织身份，也没有获得多大利益的“小混混”，当然不能和黑恶势力的首要分子混为一谈，对其惩罚也得酌情考虑。</p>
<p>笔者一直有一个观点，“要打黑，先扫灰”。法治社会的建设是一项长期任务。就目前而言，基层社会还存在大量的灰色空间，充满着各种讨价还价过程。就此而言，黑恶势力其实是有比较深厚的土壤的。</p>
<p>笔者在城中村改造的调研中，和房地产公司的项目负责人有过深入交流。谈起暴力拆迁，该负责人坦言，其实对开发商而言，拆迁的“意外”本来就计算在成本之内。如果项目要顺利实施，请一个“有实力”的拆迁公司至关重要。简单而言，碰到“钉子户”，“血酬定律”对拆迁方和被拆迁方都是适合的——“钉子户”当然可以通过抗拆获得额外利益，但肯定要付出“血的代价”；拆迁公司如果下决心“拔钉子”，也做好了“送几个人进去”的准备。这么说来，在灰色利益的争夺过程中，“黑恶势力”其实是有市场空间的，“争勇斗狠”本来就是社会议价的一个筹码。</p>
<p>在比较成熟的行业，“暴力”很难成为议价的筹码。但是，对于一些不太成熟的行业而言，“暴力”也许就是“生意”的标配。比如物业管理行业，该领域的涉黑涉恶行为界定非常模糊。常常是业主告物业公司利用威胁恐吓手段逼迫业主缴纳物业费，但物业公司也“委屈”，觉得通过正常的法律手段很难让业主缴纳物业费。在行业主管部门的立场上，一是为自身利益的考虑，二是担心业主上访，给政府施压，最终政府怕事情闹大，板子还是拍在物业公司身上。结果是，物业公司就安排员工天天去催缴物业费。在扫黑除恶专项斗争的宣传下，物业公司的这种行为在业主看来就是黑恶，只要业主已举报，公安、住建局等部门就不敢忽视。</p>
<p>要防止黑恶势力死灰复燃，根本上就是要挤压其生存空间。在“普通犯罪分子—恶势力—黑社会性质组织”之间，在“软暴力-暴力”之间，都存在一个复杂的谱系。客观上，恶势力是更具隐蔽性，社会危害也比较重。一般而言，普通的犯罪分子对人民群众的生命财产安全的威胁比较小，但一旦犯罪分子结成为“恶势力”，则容易采用暴力、威胁及“软暴力”等犯罪行为，很容易制造恐慌，侵蚀社会正常秩序，进而影响社会安全感。某种程度上，在扫黑除恶专项斗争中“打早打小”，其实就是要尽量清楚恶势力，让恶势力没有生存空间。</p>
