<html><head>
    <link rel="SHORTCUT ICON" href="/images/v.png">
       <meta charset="utf-8">
       <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
       <link rel="stylesheet" href="main.css">
   </head>
   <section id="banner"><div class="inner">
       <title>战争离“云”端有多远——云计算助推军事智能化发展</title>

       <h1>战争离“云”端有多远——云计算助推军事智能化发展</h1>
       <a href="http://dzb.studytimes.cn/Shtml/xxsb/20190603/40599.shtml">学习时报 0603</a> <r>2019-06/10 12:30</r><br>
<p>军事智能化发展的关键是推动以大数据、人工智能、物联网技术等为代表的新一代信息技术与军事领域的深度融合，而云计算为实现新一代信息技术与军事领域的深度融合提供了必要支撑。2019年2月4日，美国国防部公开发布了《国防部云战略》，确定了云计算助推军用人工智能发展的新战略，把未来战争推向了“云”端。</p>
<ul>
<li>云计算助推军事智能化发展的重要意义</li>
</ul>
<p>当前，云计算在军事上的应用已成为西方军事强国关注的焦点。未来，云计算将渗透到军事领域的各个方面，在联合作战，军事训练，装备发展和后勤保障等方面发挥更大的作用。</p>
<p>云计算对军事大数据的应用起着基础性作用。云计算和军事大数据的关系，就像一枚硬币的正反面一样密不可分。未来战争中，对军事大数据的分析需要分配给数十、数百，甚至数千台计算机来完成，这必须依托云计算的分布式处理、云存储、虚拟化技术等。所以说，有了云计算，军事大数据才会聚合碰撞，才能产生军事价值。</p>
<p>云计算加速军用人工智能的发展。军用人工智能需要数据和计算能力的支撑，否则，军用人工智能的发展无从谈起，军用人工智能在前几次发展中停滞的原因之一，就在于数据和计算能力的问题没有得到很好的解决。目前，云计算和军事大数据的发展在一定程度上满足了军用人工智能对数据和计算能力的需求，不久的将来云计算将促进军用人工智能新一轮的崛起。</p>
<p>云计算促进军事物联网技术的发展。一方面，云计算颠覆了传统的网络计算模式，引发了军事物联网基础技术的创新，加倍释放军事物联网的规模效应和增益效应。另一方面，云计算体系下的高密度存储、高性能计算、数据安全加密等技术的持续演进，为军事物联网技术与其他前沿技术的融合发展提供了极佳的数据服务环境和创新试验平台。</p>
<ul>
<li>云计算助推军事智能化发展的重要作用</li>
</ul>
<p>云计算将为军事智能化的发展提供丰富的云工具和云服务，为联合作战、军事训练、武器装备发展、后勤保障建设提供新动能，促进军队战时与平时状态的高效对接，大幅降低未来战争的成本和军队转型升级的门槛，全面提升军队备战打仗的效率和能力。</p>
<p>联合作战方面，云计算将助力构建战场联合信息环境，将战场上的网络与数据联通形成统一的作战信息空间，实现信息共享，为夺取联合作战的制信息权提供支撑；把陆海空天电网核等多维领域的各作战力量要素融合形成一体化联合作战体系，使诸军兵种联合的深度和广度大大扩展；为联合作战提供智能化的指挥手段，通过对指挥信息资源的灵活整合和动态配置，实现分布式指挥，提高指挥自由度，大大减轻指挥机构对指挥员的依赖；为联合作战提供高效的作战保障模式，依托云计算强大的存储和计算能力，对情报信息、战场管理、气象水文等海量信息进行综合处理，生成战场综合态势图，为指挥员决策提供支撑。</p>
<p>军事训练方面，云计算将为军事训练提供功能强大的网络化联合训练环境，可以将实兵、实装在实际环境中的训练，实兵借助模拟系统的训练，以及在模拟环境中使用模拟装备进行的训练等方式结合起来，形成统一联通的训练环境，这一环境的建立将提升训练资源的使用效率，实现由军种训练为主向联合训练为主的转变，推动联合训练方法创新。此外，通过云计算建立的联合训练平台，将为部署在世界各地的军事力量提供联合训练支持。</p>
<p>武器装备发展方面，云计算将大大提升未来武器装备的智能化水平，具有自主作战能力的无人装备将在云环境的支持下走向未来战争的前台，与有人装备组成混合编队参与联合作战；推动武器装备向一体化方向发展，打破传统武器系统单一功能的局限，按照作战需求和能力指标构建基于云环境的一体化武器装备综合系统，显著增强武器装备的作战能力；催生出高智能化的武器装备，依托云计算强大的数据存储、计算和分析能力，发展真正适应未来战争的机动快、反应快、打击快、转移快的武器装备。</p>
<p>后勤保障建设方面，云计算将实现物资经费供应的动态管理，实现人员、物资和信息之间的相互感应和智能化无缝衔接；支持构建区域医疗云数据共享平台，打破远程孤岛救护模式，及时掌握伤员情况及救护动态，对资源进行合理调配，实现决策支持；通过状态检测、可视化及同步互通等信息化的手段，实现装备故障自动报警、智能诊断、远程维修等；实时、有效地解决交通运输过程中运输载体的调度和行进路线选择等诸多问题，大大提高战场资源的调配和补给速度，从而实现从起点直达战斗部队的“一站式”供给及高效聚能的精确化运输。</p>
<ul>
<li>云计算助推军事智能化发展的措施建议</li>
</ul>
<p>当前，全球云计算在军事上应用尚处于发展初期，面临着难得的历史机遇，发展的潜力非常巨大，但在军用云计算的需求导向、发展路径、云生态建设和云安全等方面存在不少问题，只有解决了这些问题，云计算才能够全面提升面向未来战争的作战能力，促进军事智能化的发展建设。</p>
<p>以军事需求为导向，加快云环境建设。要瞄准未来战争需求，以联合作战、军事训练、武器装备发展和后勤保障等重点领域的应用为切入点，加快云平台建设，挖掘未来战场潜力，服务军事智能化发展，支持基于云计算平台的开发创新，培育云平台军事运用的新常态。</p>
<p>走创新引领、军民融合的发展路子。要始终把技术创新突破作为第一要务，强化云计算在军事应用方面的关键技术攻关和创新，走开军民融合的路子，引导并支持军地合作参与云计算在军事领域的标准制定，更加重视军地双方云计算后备人才的培养，把创新发展的主动权牢牢掌握在自己手里。</p>
<p>协同发展，健全军用云生态。要充分发挥云计算技术发展的带动作用和溢出效应，带动军用核心芯片、军用基础软件、军用应用软件、关键武器设备、大数据平台、军用物联网等关键环节的发展，打造协作的军用云生态环境，促进云计算在军事领域的模式创新，实现军用云的持续发展。</p>
<p>保障安全，优化云环境。准确把握安全与发展的关系，坚持总体国家安全观，强化安全管理和作战信息防护，投入资金和技术，用于军用云安全硬件软件开发和顶尖防护团队的创建，建立开放的军地云安全合作机制，增强信息安全技术支撑，建立健全安全防护体系，切实保障军用云的信息安全。</p>
