<html><head>
        <link rel="SHORTCUT ICON" href="/images/v.png">
           <meta charset="utf-8">
           <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
           <link rel="stylesheet" href="main.css">
       </head>
       <section id="banner"><div class="inner">
       <title>管仲打"贸易战"的启示</title>
<title>探讨老年人再婚后容易引起继承问题</title>
<h1>探讨老年人再婚后容易引起继承问题</h1>
<a href="http://www.110.com/ziliao/article-781724.html">探讨老年人再婚后容易引起继承问题</a> <r>2019-06-12</r>
<blockquote>
<p>摘要：近年来的数据显示，我国人口老龄化进入了一个新的阶断，并且速度不断加快，政府、社会和家庭面临着越来越沉重的养老压力，社会问题层出不穷。而其中老年再婚作为一个日益普遍的现状，引发的继承矛盾也越来越多，本文则试就老年人再婚后容易引起这些问题进行探讨，分析所涉及的相关现行法律，结合实际案例，提出解决办法。希望通过自己的研究，对老年人这一弱势群体进行深入了解和提供一些帮助。</p>
</blockquote>
<p><code>关键词：人口老龄化；老年再婚；继承人；</code></p>
<p>近年来，人口老龄化这个名词频频出现在人们的视野中，并越来越引起人们的重视。我国一直面临着严峻的人口问题。随着我国社会经济的飞速发展和科技进步延长了人们的寿命，以及计划生育、限制人口导致的自然增长率的降低等几方面使得我国的人口结构已经在上个世纪九十年代便开始转型。尤其是北京市在1990年便已明确的进入人口老龄化社会。更有日本媒体指出，中国到2030年，65岁以上人口比例将超过日本，成为第一个进入老龄社会的发展中大国，而且也是全球老龄化程度最高的国家。这不仅仅是一些冰冷的数据和定义，而是引发了诸多社会问题，值得我们去思考和探讨。</p>
<h2></h2>
<p>一、老年人再婚趋势及引发家庭问题的原因</p>
<p>老年人作为一个经济和社会中的弱势群体，常常会面对一些问题，如独居，丧偶，疾病，无亲无故，得不到子女赡养，甚至遭到虐待等等使得生活变得艰辛和困难。而随着社会的进步，思想的解放，“夫妻养老日益成为一种社会转型期最主要的养老方式。”于是，老年人再婚便成为一个十分常见的社会现象，舆论对于老年人的“黄昏恋”也不似过去苛责。《中华人民共和国老年人权益保护法》第十八条规定：“老年人的婚姻自由受法律保护，子女或其他亲属不得干涉老年人离婚、再婚及婚后的生活。”这也为老年人再婚提供了法律的保障。重新组建家庭，寻求依靠，成为大多数单身老人的一个愿望。据调查显示，90%的单身老人对再婚持赞成的态度。可以说是占绝大多数。但是相反的是，老人再婚成功率确却仅仅只有5%.究其原因，是由于老年人群的年龄较大，双方感情基础不深厚，还未长期相处互相了解便很快“闪婚”;另外，由于双方可能各有子女儿孙的这一特殊性，再婚后往往会引起一些财产纠纷和继承纠纷。尤其是在重组家庭后因为老年人普遍年龄死亡率较普通夫妻年龄高，则会面临继承人的继承遗产的复杂的问题。</p>
<h2></h2>
<p>二、财产继承因老年再婚的特殊性，而出现的争议</p>
<p>（一）老年人权益纠纷，以家庭财产纠纷（主要以满足基本生活需求为最低）居多。</p>
<p>在老年婚姻中产生的问题就是有一部分居心叵测的人企图谋取老人钱财，假意结婚，在婚后则挥霍和强制的支配老人财产，引发了很多不良的社会后果和影响。</p>
<p>（二）由于再婚老人的感情基础较为薄弱，有一部分人婚后往往只顾自己和儿女利益。</p>
<p>或者常有子女的阻挠，容易造成不和，甚至发展为双方感情破裂而离婚。当这种情况发生时，财产则执行婚后共同财产平等分割，子女不参与财产分割。由于再婚合法的财产是老人与子女长期积累的财产，较为复杂，如果处理欠妥更加容易产生纠纷，所以双方婚前可以进行财产约定。这一点我国现行《婚姻法》第19条有明确规定。</p>
<p>（三）同时还需要注意一个问题：目前一般认为老人再婚前的财产与婚后的配偶无关。</p>
<p>表面上看起来是如此，因为对于离婚来说，此观点无可厚非。但是深入的看，还要考虑去世这一情况。因为此观点只是认识到婚姻法这条规定，我们还要看到我国《婚姻法》第24条：“夫妻又相互继承遗产的权力”.《继承法》第10条规定：“遗产按照下列顺序继承，第一顺序：配偶，子女，父母”.据此，如果老人去世，那么在没有遗嘱的情况下，所有财产包括婚前财产都是作为遗产有第一顺序人继承，那么他的再婚后的配偶也是可以分到与他子女同等甚至更多份额的遗产的另外，我们还要看到如要继承遗产，不仅是一种权利，还要履行相应的义务。《婚姻法》第20条规定：“夫妻双方有互相抚养的义务。老年人再婚后，尚未同居，或者同居时间短，配偶一方死亡后，另一方仍享有继承权”.对于遗产份额划分，则根据时间长短和尽义务的多少来酌情进行处理。如果配偶没有尽到自己的义务，那么在继承遗产时的比例也要打折扣。所以说，婚前财产虽然是被继承人个人的财产，但是再婚后，如果一方去世，那么从继承的角度来看，则其配偶又与此财产产生了继承关系。</p>
<p>（四）由于现如今有许多孤寡老人，他们再婚后，往往双方并没有子女亲属，也没有受遗赠人，或者子女不孝拒不赡养父母失去了继承资格。</p>
<p>这就有一个无人继承遗产的问题出现无人继承遗产：指没有继承人和受遗赠人承受的公民死亡时遗留的财产。它不同于无权领域中的无主财产。一般发生于四种情况：“1,公民死亡时，既没有法定继承人，也没有受遗赠人。2,公民死亡时，虽有法定继承人，或者遗嘱继承人，或受遗赠人。但是他们全部放弃继承或是拒绝接收遗赠。3,公民死亡时，虽有法定继承人或是遗嘱继承人，但全部丧失了继承权。同时又没有受遗赠人或受遗赠人放弃受遗赠。4,公民死亡时，无法定继承人，一部分遗产也没有受遗赠人”.而根据《继承法》第32条：无人继承有无人受遗赠的遗产，根据死者生前身份确定其归属，即：死者生前是集体所有制组织成员的，归所在集体所有制组织所有；死者生前不是集体所有制组织成员的，归国家所有。另外。无人继承遗产首先要在其范围内清偿死者生前未缴纳税款和所负债务，然后才收归国家或集体组织所有。而如果遗产无人继承收归国家或集体组织所有时，如果可以分给遗产的所有人又提出了要求继承，人民法院还是要根据情况适当的分给遗产。</p>
<p>按我国《继承法》对于继承顺序的规定。配偶，子女，父母为第一顺序继承人，并且子女包括婚生子女，非婚生子女，养子女和有抚养关系的继子女。那么据此，如果说老年人再婚，和婚后的继子女在一起生活，并且享受到一定的赡养关系的时候，这种特殊的继子女也是可以作为继承人身份参与继承的。反之，如果此继子女没有与老人有着赡养关系，只是法律和名义上的一种父母子女关系。那么他们就没有不在继承人之列。另外还应秉承以下继承原则：1、对于生活有特殊困难、缺乏劳动力的继承人，分配时应当给予适当照顾；2、对被继承人尽了主要抚养义务或与其共同生活的继承人，也可多分遗产；3、有抚养能力、条件较好却没有尽扶养义务的继承人、“应当不分或者少分；4、当事人协商一致的，亦可不均等。据此来说，在老年再婚一方去世后，配偶子女所得遗产并不是明确的等量均分，而是要根据实际生活中的情况，继承人对被继承人的照顾，赡养以及继承人自身的条件来进行合理的分配。还可以双方协商。这也是体现了孝敬为先，扶老扶弱的传统美德。毕竟，家是一个亲情和血缘构筑的单位，应当充满着爱与关怀。</p>
<h2></h2>
<p>三、对于繁杂的遗产继承纠纷，提出现行法律一般规定和解决的方法</p>
<p>据有关数据显示，再婚老人与子女、继子女的继承纠纷案件呈逐年上升的趋势，而其中近九成都涉及房屋产权纠纷，并且这些案件难以调解，老年人败诉率高。究其原因，一方面是再婚老人往往都有各自的子女，子女对于其再婚的动机抱有怀疑，对继父母没有什么感情基础，当老人去世后，这唯一的感情维系便不存在了，只剩下财产的争夺，难以调解，双方便只有走法律的途径，对簿公堂。另一方面是老年人的法律意识薄弱，常常会出现有法不知所依，有理无处申诉的窘境。并且很多经济基础较为薄弱，没有聘请律师，甚至不知道聘请律师，还往往对自身财产并不明确。这些也是败诉的主要原因。也正因为这些，使得老年人这一弱势群体往往得不到保障。老年再婚与普通人的婚姻相比，复杂而又现实了许多，还会涉及到社会的伦理道德。复杂的是牵扯到自己子女与非亲生子女的相处，当一方去世后配偶和原子女的经济财产继承。而现实的是大多数老人再婚还是为了一个对自己的晚年安定生活的保障，寻求一个依靠。</p>
<p>从司法实践来看”立遗嘱“则是一个较好的，避免不必要纠纷的一个方法。”遗嘱是法定继承的对称，是按照被继承人生前所里的合法有效的遗嘱进行财产转移的法律制度…遗嘱是公民生前依法作出的处分其财产并于其死后生效的单方、要式法律行为“.</p>
<p>所以说，只要当事人单方意思表示便可以发生法律效力，而且遗嘱人有权在生前对其进行变更和撤销。而遗嘱继承要优先于法定继承。另外，我国《继承法》对遗嘱自由也有限制：遗嘱不得违反法律和社会公共道德准则，必须为无独立生活能力又没有生活来源的继承人保留必要的遗产份额。所以要注意的是，现实生活中，常常有人想钻法律的空子，比如说，老人A再婚后，其子女对继母不满意，但是继母婚后对A尽心尽力的照顾，尽到了自己身为配偶的义务。子女既不想让继母得到A的财产，又希望继母继续照顾A.所以就私下劝A立一份遗嘱，将遗产全部分给子女，而使无依无靠的继母在A去世后一无所有，那么这肯定是违背社会道德准则，并且也违背了为无独立生活能力而没有生活来源的继承人保留必要遗产份额这一原则。那么，这个遗嘱就不是完全生效的。老人在婚后立遗嘱是一种好的措施，也是现在广为大家接受的一个方法。但是也要符合公序良俗和法律规定，并且完全是自身意思表示，要考虑到具体执行的公正性、合理性和可行性。这也是为了最大限度的实现公平和正义。</p>
<p>另外一个措施就是进行婚前财产公证。公证制度是我国司法制度的重要组成部分，而公证证明具有特殊的法律作用，可以起到证据的效力，这也使公证本身具有了减少诉讼的作用。老年人再婚，婚姻关系存续几年之后，他们的积蓄：财产，现金，房产，股票，基金等等如果有了收益，就很容易造成财产的混同、举证困难。如果两方离婚，那更是不好分割。所以现在一个趋势是在婚前，就将双方财产进行公证，而婚后的一切则依法律规定为夫妻共同财产，这样的话清楚明了，也为以后当离婚和去世情况发生时，分割财产提供了依据。</p>
<p>第三是加强普法宣传，提高公民的权利意识，并且充分发挥执法机关的作用，对老年再婚进行规范，保护合法的婚姻。从我国的国情和司法实践出发，最大限度地调动司法行政系统各个方面的力量，做好老年维权工作。以往老年人往往因为法律意识淡薄，不会订立遗嘱，不懂得做财产公证，或者说因为传统观念的影响，认为这样有伤和气，急功近利。不愿意订立遗嘱和做公证。但是再婚老人只有去了解自己有哪些权利，才能尽量的避免遗产纠纷的发生，同时利用法律手段保护自身合法权益不受侵害。这需要老人去提高财产意识，维权意识。在侵权发生时，不能只是一味的任家人摆布，大事化小小事化了。而是要拿好法律的武器，依法维权；同时，也有很多人利用老人孤独的心理，为了谋取不当利益，骗婚，骗取财产，甚至企图老人遗产。这也是需要执法机关的规范和对违法婚姻，骗婚行为进行打击。</p>
<p>第四积极弘扬敬老爱老的传统美德，从道德角度去宣传和教育子女们尽孝道，赡养父母。而对于虐待老人、遗弃老人的违法犯罪行为要进行严厉打击，充分保护老年人的合法权益。减少”结婚养老“的功利性，从而减少再婚遗产继承纠纷。当然，这也需要老人自身以及全社会的共同努力。</p>
<p>第五是构架合理的法律服务资源，多进行开展法律援助。并且积极发挥挥人民调解功能，当纠纷产生时，尽量和睦的进行商议，家人之间互相协调，有退有让。同时要提高司法实践者的素质，多进行道德教育，使其能公正，严明的审理案件。并且在作出判决时，不但要依法，还要适当的考虑原告与被告的实际因素，如要考虑到老人这类弱势群体的基本利益，使其得到保障。</p>
<hr>
参考文献:
<br>[1]王丽萍。婚姻家庭继承法学[M].北京：北京大学出版社出版，2006.
<br>[2]梁海涛。应用型婚姻法继承法[M].北京：中国法制出版社，2006.
<br>[3]巫昌祯。婚姻与继承法学[M].北京：中国政法大学出版社出版，2007.
<br>[4]卢明生。婚姻继承案例胜诉指引[M].北京：中国法制出版社，2010.
<br>[5]江曾培。不为老所累[J].老年教育（长者家园）,2011,（01）.
<br>[6]顾坡岗。简论我国的夫妻财产关系，http://www.chinalawedu.com/new/16900_174/2009_4_29_li936251624192490025190.shtml,2009-04-29.
<br>[7]周良慧。对我国继承法的若干学理思考。http://www.chinalawedu.com/new16900_1742009_8_10_wa748284310189002466.shtml2009-08-10.
<br>[8]张全生。农村老年再婚引起的社会问题思考。http://news.9ask.cn/falvlunwen/xflw/200912/276627.html2009-12-05.
<br>[9]李丰娟。论丧偶老年人再婚遗产继承纠纷案件。http://www.jcrb.com/procuratorate/theories/practice/201110/t20111021_738933.html,2011-10-21.
<br>[10]孟晓青。从司法实践看老年人权益保障问题。http://www.chinacourt.org/html/article/200807/26/313955.shtml.2011-04-19.</p>

