<html><head>
        <link rel="SHORTCUT ICON" href="/images/v.png">
           <meta charset="utf-8">
           <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
           <link rel="stylesheet" href="main.css">
       </head>
       <section id="banner"><div class="inner">
       <title>管仲打"贸易战"的启示</title>

<h1>管仲打<b>贸易战</b>的启示</h1>

<strong>来源：</strong><a href="http://dzb.studytimes.cn/shtml/xxsb/20190607/40682.shtml">学习时报</a> <r>2019-06/09</r><br>
<p>早在2700多年前，《管子·轻重》中就记载了管仲发起的多起“贸易战”，为齐桓公“九合诸侯，一匡天下”建立霸业，立下汗马功劳。</p>
<p>春秋时期，齐桓公想攻占鲁、梁两国，请教于管仲，管仲献计由桓公带头穿上绵绨衣服，使全国百姓跟风穿绵绨，且高价收购鲁、梁两国绵绨，鲁、梁两国百姓见有利可图，于是放弃农业而大织绵绨，齐国则大力发展农业。一年后，管仲让桓公改穿帛料衣服，带领百姓不再穿绵绨，并与鲁、梁断绝经济往来。10个月后，鲁、梁的百姓短期内无法生产粮食而陷于饥荒，买粮每石要花上千钱，齐国粮价才每石10钱。2年后，鲁、梁的百姓有6/10投奔齐国。3年后，鲁、梁的国君也向齐俯首称臣。</p>
<p>类似的“贸易战”，管仲曾多次导演并不战而胜，如“买狐降代”“求鹿于楚”等。</p>
<p>为了征服代国，管仲让桓公派人高价到代谷地区收购狐白的皮张。代王认为齐国收购狐皮是代国的福气，下令百姓多以狐皮换取齐国钱币。代国人因此放弃农业，走进山林猎取狐皮，但狐白半年才出现一次，时过2年也没有凑够几张，离枝国听到以后，乘机侵入代国北部。代王难以保卫，只好率领士兵归顺齐国。</p>
<p>征服了周边几个小国，齐桓公并不满足，开始转向强国——楚国，管仲又献计打起了“贸易战”，他首先通过民间买卖大量贮藏国内粮食，再兴建百里鹿苑，派人到楚国高价购买生鹿，同时派左司马伯公率民夫到庄山铸币。楚王果然通知百姓尽快猎取生鹿，换取齐国钱财。楚国百姓便放弃农业而从事猎鹿。当齐国百姓藏粮增加5倍，楚国卖鹿存钱也增加5倍时，管仲说：“楚可下矣（可以取下楚国了）。”于是封闭齐楚关卡，当楚国开始恢复农业时，粮食却无法3个月内产出，导致楚国粮价高达每石400钱，内饥外困之下楚国最终被降服。</p>
<h2></h2>
<p>追古鉴今，管仲之所以在对周边诸国大打“贸易战”而屡屡得手，有几处值得思考警醒的。</p>
<p>急功近利＝舍本逐末。处于农耕文明的春秋诸国，农业是其定国安邦之根本，管仲的“贸易战”之所以能屡试不爽，就在于鲁、梁、代、楚等国只求眼前之利，而舍社稷之要，把农业这个根本抛弃了。这也传递着古老的警示，无论是一个国家还是政党，一个企业抑或一个人，守住根本，守牢底线至关重要。任何时候都要分清主次，掂量轻重，把握大小，既要有高瞻远瞩的眼光，更要有不为所惑的定力。外界的诱惑无处不在，往往利益之下隐藏风险，好处背后设了圈套，如果急功近利抛弃根本，追名逐利闲置主业，长此以往就将自己置于危机和险境之中。</p>
<p>经济财富≠综合实力。管仲用高价收购各诸侯国特产，尽管鲁、梁、代、楚等国赚了满盆钵，但忽略国防和农业，只能是经济上的“虚胖”，当齐国攻其软肋，就如遭受釜底抽薪的致命一击。而1800多年后的宋朝虽然经济文化高度繁荣发展，但却崇文弱武，重商轻防，病态式的发展最终导致了“靖康之耻”的可悲结局。历史与现实反复警示，经济财富并不等同国家综合实力，不注重全面可持续发展，一旦失去核心竞争力的坚实支撑，就如沙丘上的空中楼阁，繁华中的浮光掠影。</p>
<p>交流互鉴≠盲目依赖。“重商通货”是管仲富国强兵的重要指导思想，但他重视经济贸易的同时，不忘发展农业和巩固国防，而鲁、梁、代、楚等国之所以在贸易战中一败涂地，就是国之要害的农业过于依赖于齐。在世界多极化、经济全球化、社会信息化、文化多样化深入发展的今天，各国政治、经济、文化交流更加密切，相互依存、相互影响日益加深，逐渐形成利益和命运共同体，任何国家也难以置身其外。但如若把关系国计民生的支柱产业、核心利益过于依赖他国，关键时就会自毁长城。</p>
<p>逆时代潮流＝衰败灭亡。管仲的“贸易战”看似以征服周边国家为目的，但管仲并不闭关自守搞贸易保护主义，对经济商贸可谓异常重视。他主张“为国不能为天下之财，致天下之民，则国不可成”。他采取各种积极措施，为外来商旅提供便利条件。如下令为诸侯商贾建立客舍，外商来车1乘者免费供应伙食，来车3乘者外加供应草料，来车5乘者，另外服役人员照顾等，为鼓励进出口贸易可谓无所不用其极。当今世界是共商、共建、共享的时代，“地球村”的世界决定了各国日益利益交融、命运与共，合作共赢是大势所趋，谁逆时代潮流而动，大搞单边主义、贸易保护主义，行一己之私，终会陷入被历史抛弃的困境和厄运。正如管仲死后，齐国反其道而行之，“逼介之关，暴征其私”，贸易的关卡越开越多，税率也越来越高。到齐景公时期，甚至连都城临淄附近也增设了关卡。而当时晏子“数谏景公，景公弗听”，以致“齐国之霸业悉归於田氏矣”。</p>
