<html><head>
        <link rel="SHORTCUT ICON" href="/images/v.png">
           <meta charset="utf-8">
           <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
           <link rel="stylesheet" href="main.css">

       </head>
       <section id="banner"><div class="h5"><title>西夏文字的创制 | 转载</title>

<h2></h2>
<r>2019-06/09</r><br>
<p>在古老的丝绸之路上，除了被黄沙埋没的楼兰，还有另一个曾经辉煌、却在铁血征战中迅速消失的神秘王朝：西夏。古代边塞诗人经常提及的贺兰山下，今天宁夏回族自治州首府银川的西边，有一大片西夏陵园，残存的陵台高大宏伟，人称“东方金字塔”，加上形制奇特的108塔等佛教遗存，零星地展示着神秘的西夏王朝<a href=" https://baike.baidu.com/item/%E8%A5%BF%E5%A4%8F/698">西夏-百度百科</a>的盛世雄风。</p>
<p>在诵经般单调沉郁的西夏歌调和清远悠扬的埙乐声里，透过这些文明的碎片，我们得以向远逝的西夏王朝探身张望。这个曾经辉煌、却又留下谜语无数的“大夏”，当年曾是与宋、辽、金鼎足而立了189年的国家。建立它的民族，被称为党项人。</p>
<p>自南北朝时,居青海东南部的党项族强盛起来，隋唐时始内附中原，其首领受唐王朝赐李姓。唐初，党项羌受吐蕃之威逼，请求内迁，在唐王朝的支持和协助下，自原居住地大迁移，历经百年之久才逐渐稳定下来。唐末因剿黄巢有功，受夏州定难军节度使，统辖夏州等五州地区，进爵夏国公，首领复赐李姓。二百年来统治着甘肃一带。</p>
<p>李元昊继位后，实施了一系列提高民族意识的策略，除唐、宋所赐姓。李元昊实行变发式、定服饰、造文字、简礼仪、立官制等一系列改革，并升兴州为兴庆府，扩建宫城，准备建国称帝。脱宋建大夏帝国。元昊于大庆三年（宋宝元元年，1038）十月十一日正式称帝，国号大夏，史称西夏。盛时辖地二十二州，包括今宁夏及陕西北部、甘肃西北部、青海东北部及内蒙古部分地区。实际上，当时的中国形成了宋、辽(金)、西夏，三足鼎立的局面。</p>
<p>第九代西夏王德旺继位后，蒙军乘西夏国势积弱大举进攻。公元1226年，成吉思汗挥师东进，越过沙漠、渡过黄河。1227年1月，成吉思汗留兵继续围困兴庆府，他自已领军南下。6月，西夏末主李睍率西夏文武官员投降。7月，一代天骄成吉思汗病死，蒙军恐西夏有变，就在随军途中杀死李睍，从此，立国190年的西夏为蒙古所灭。</p>
<p>公元1034年，年纪轻轻就认定“英雄之生当王霸”的党项豪杰李元昊立国，到1227年被成吉思汗的蒙古大军灭国屠城，10代西夏王统治期间，有过无数惨烈或缠绵的故事：争抢皇位的喋血政变，“爱江山更爱美人”的风流逸事，有宋、辽、金、夏诸国间勾心斗角、恩恩怨怨。一幕又一幕的生动史剧，竟在历史长河中被遗忘得干干净净。</p>
<p>史称“蕃书”的西夏文，是西夏开国皇帝李元昊让大臣野利仁荣等人创造的，并被尊为国字。“教国人纪事用蕃书”，在境内广设“蕃汉学”迅速推行。元代称河西字，后世称西夏文。我国少数民族中，能自创完备的文字体系的，极少。50年里，尊奉佛教的西夏人用自己的文字译出了3600多卷佛经，也记下了自己的历史，700年后，埋藏在敦煌和黑水城的西夏文献出土，“大夏人”终于自证了他们的存在。</p>
<p>西夏人编著了多种类型的字典、辞书。如韵书《文海宝韵》、字书《音同》、韵图《五音切韵》、西夏文-汉文双解语汇集《番汉合时掌中珠》等。西夏文应用范围很广。用西夏文书写公文、契约，写印法律，撰写历史、语言、文学著述，篆刻金石，翻译汉文典籍和佛教经典。西夏文有楷书、行书、草书、篆书。除了西夏文碑石，还有世上最早的木活字印刷佛经《大方广佛华严经》，让我们知道，西夏曾是活字印刷的重要中心。西夏的刻印事业发达，保存下很多珍贵的刻本。目前已发现了十多种西夏时期的活字版印本，其中有泥活字印本，也有木活字印本，这些都是世界上最早的活字印刷实物。西夏文字是模仿和借用汉字的笔画，重新创制的全新方块文字，笔画繁琐、结构复杂，每个字大都在10划以上。</p>
<p>西夏文自元朝后就消失了。1804年，清朝史地学家张澍，在一家寺院游玩时发现一座封闭已久的碑亭，传说一开就会有风雹之灾。他对天发誓，保证开门造成的灾难由他一人承担。门打开了，里面只有一座完好的石碑，正面所刻字“乍视，字皆可识；熟视，无字可识”，反面刻有汉字译文。这通石碑就是有名的《重修凉州护国寺感应塔碑》。张澍这一偶然发现，使久已死亡的西夏文重为世人所知，他也成了第一个明确识别出西夏文字的学者。</p>
<strong><p>蒙古铁骑横扫亚欧大陆，成吉思汗亲率强兵劲旅六征西夏，遭到顽强抵抗。西夏陷落后，为了复仇，蒙古大军不光血洗西夏，后来的元朝史家更在修史叙事时有意跳过西夏这一章，使之成了惟一不入“二十四史”的王朝。党项人和西夏文明从此悲壮地消失，成为中华民族历史长卷中鲜为人知的“神秘古国”。</p>
<p>据说，成吉思汗最后一次征讨西夏，带领铁骑进攻时，马蹄暗中西夏的古代地雷蒺藜而人仰马翻。后来身罹重疾病逝（一说为中毒箭而死）。临终前，他怀着对西夏的大恨，下了三道灭绝西夏的诏令：灭绝西夏王、西夏族人、西夏文化。</p>
<p>西夏公元1227年被蒙古大军所灭。由于灭西夏过程中遇到强力抵抗，成吉思汗死于六盘山行宫。成吉思汗临终前发出灭绝指令：“殄灭无遗，以灭之、以死之。”紧接着，蒙古军队便对西夏民族进行了毁灭性屠戮，“城郭付之一炬，四面搜杀遗民，白骨蔽野，数千里几成赤地”。经过战争蹂躏、地震、兵乱、屠城，大部分西夏城镇沦为废墟，毁灭性打击使得王朝的许多历史变成千古之谜。西夏文字少人识别、西夏书法狂草书被称为天书、西夏学被认为是绝学，西夏后裔一度被认为毁灭于战争。据专家考证，部分党项族人在这场屠戮中幸存，繁衍后代，并逐步汉化、藏化、蒙化、回化……</p></strong>



<h1>西夏文字的创制</h1>
<p>西夏文字的创制借鉴了汉字的形制，在构成上可分为单纯字和合体字两大类。其笔画多在十画左右，撇、捺等斜笔较多，结构均匀，格局周正，有比较完整的构成体系和规律，具有鲜明的个性特点。 </p>
<p>西夏文字创制后被作为&ldquo;国字&rdquo;推行，因此在西夏国的应用范围十分广泛，如官署文书、法律条令、审案记录、买卖文契、文学著作、历史书籍、字典辞书、碑刻、印章、符牌、钱币、以及译自汉、藏问的佛经等。西夏文字是<a href="http://baike.baidu.com/view/1272504.htm" target="_blank">西夏文化</a>的精华所在，它的使用在整个西夏时期从未间断过。西夏灭亡后，仍由其后人在一定范围内延续使用至明朝中期，成为我们探寻西夏后裔踪迹的有力佐证。 </p>
<p>右图为西夏第五代皇帝仁宗、仁孝寿陵西夏文残碑，<a href="http://baike.baidu.com/view/21603.htm" target="_blank">西夏王陵</a>7号陵西碑亭遗址出土，均为阴刻西夏文，又楷、篆两种字体。碑文楷书，结构饱满、匀称，书写工整，每字边长约3厘米，字体鎏金，有的笔画内金箔犹存，碑额篆体，每字纵约7厘米，横约6厘米。此块残碑有五块残碑粘接而成，共11行44字，是拼合后可读文字最多的一块。 </p>
<p>党项在内徙以前仍处在原始游牧部落时期，过着&ldquo;不知稼穑，土无五谷&rdquo;、&ldquo;畜嫠牛、马、驴、羊以食&rdquo;的游牧生活，他们&ldquo;逐水草而居，但候草木以计时岁&rdquo;。社会形态尚处于原始社会父系氏族公社末期，生产力水平低下，无法令赋税，也没有文字。内徙后，由于长期受到各民族特别是汉族文明的影响，社会经济与文化都有了长足的发展。西夏社会形态的变更与生产力水平的提高，是文化发展的先驱。党项族历经数百年的辗转迁徙，不断吸取融入了其他民族的生产力技术与先进文化，从而加速本民族的封建化进程。特别是西夏建国前夕，由于政治与经济上需要有一个独立的局面，文化也相应地需要从汉族文明的母体脱离出来。在生产发展以及与其他民族文化的撞击中党项文化有了新的质变，而文字的创制则是这种质变的显著表现。在西夏建国前夕，元昊为了进一步突出民族文化的秀才特质，于是创制了记录党项语言的文字&mdash;&mdash;西夏文。 </p>
<h2><span></span></h2>
<p>西夏文字创制于元昊建国前的公元1036年左右，由大臣<a href="http://baike.baidu.com/view/446838.htm" target="_blank">野利仁荣</a>演绎而成。文字的创制是民族文化发展到成熟阶段的重要标志，它给本民族的人民在思想交流和文化传承上带来莫大的便利，也使后人研究这种文化与党项民族语言成为可能。西夏文的创制参照了汉字创制的&quot;六书&quot;理论，采用合成法进行造字，即先创造了一些文字元素，即我们常说的字根或母字，然后再用合成法繁衍出更多的西夏字。 </p>

<ul>
        <li>语法结构</li>
        </ul>
        <p>西夏语有它独特的语法结构。在句子中，谓语动词往往位于末尾，宾语则放在动词的前面，而形容词有时则放在名词之前，有时则置于名词之后。经过国内外学者近八十年的研究，对西夏语言的规律有了一些了解，但是很多问题仍然有待于进一步探索。</p>
        <ul>
        <li>字形结构</li>
        </ul>
        <p>西夏字“形体方整，类八分，而书颇重复”，是独立于汉字之外的一种全新的方块文字，初看与汉字相似，因为它是模仿汉字的构字方法、借用汉字的基本笔画重新创制的。它的基本笔画，也有与汉字相同的点、横、竖、撇、捺、左拐、右提，但没有汉字常见的竖钩，对撇捺等斜笔运用较多。由于笔画繁多，结构复杂，多数字都在十画以上，认记、书写都有一定难度，就连汉字中书写最为简单的数字，到了西夏文里笔画也相当繁杂。</p>
        
<hr>
<p>在西夏文中，除有很少的一部分是直接采用文字元素创字外，绝大部分是合成造字。包括会意、音意、对称、互换、反切、长音等六种合成法。如： </p>

<blockquote>
        <p>会意合成法：西夏文“水”字中的一部分+“土”字合成（泥）</p>

        <p>音意合成法：读音为“令”的西夏文的一部分+西夏文“绢”字的一部分，合成西夏文“ ”</p>
        <p>互换合成法：（指）——（趾）（逃）——（服）</p>

        <p>对称合成法：（双）（唇）（中）（分）</p>

        <p>反切合成法：读音为“妻”的西夏字的一部分+读音为“因”的西夏字的一部分，</p>

        <p>合成汉族“秦”姓的西夏字。</p>

        <p>长音合成法：读音为“阿”的西夏字的一部分+含意为“长”的西夏字的一部分，合成阿长音。</p>
        </blockquote>
        

<h2><span></span></h2>
<p>西夏文字创制后，元昊即下令推行国中，诏令国民悉用蕃书。以法令的形式确立了西夏文的地位，并于建国初期设立&quot;蕃字院&quot;，选拔西夏贵族子弟加以教之，以期传播。因此西夏文字很快就在西夏国中通行。西夏灭亡后，西夏文字一直到明代中期尚有少数党项后裔还在使用。此后便被历史所淹没，变成了一种死亡的文字。清嘉庆九年（1804年），《重修凉州护国寺感通塔碑》被发现后，学者根据该碑上的汉字与西夏文对照及记年，才重新确认了这种文字即是衰亡已久的西夏文。 </p>
<h2></h2>
<p>西夏文字就目前发现的文献资料证实，大约有5900多个。内蒙古额济纳旗黑水城出土的西夏辞书《文海》与《音同》收字最全。这两部辞书是由西夏时期的党项族人编著的，为进一步研究西夏语言、文字提供了丰富的实物资料，同时出土的还有一部由党项族人骨勒茂才编著的辞书《蕃汉合时掌中珠》，它是用汉文与西夏文对音、对意的方式编成的，并收录了许多党项语词汇，因而成为后人解开西夏语言、文字的钥匙。近百年来，中外专家学者经过艰苦不懈的努力钻研，结合这些珍贵的文献资料，已基本掌握了西夏文字的结构与部分语音，使西夏学的研究有了明显的突破。</p>

<p>西夏开国之君李元昊初创夏国，采取了一系列被今天的西方史学家称之为“土著”化的革新措施，其中最有名的是他在1034年左右发布的“秃发令”。近人昊天墀在其《西夏史稿》中记载：“（元昊）又发布秃发的命令，恢复鲜卑族的故俗，强迫国人在三日内一律秃发，如敢违抗命令，即行处死，于是民争秃发，耳垂重环。”。清人吴广成在其《西夏书事》中记载：“民争秃其发，耳垂重环以异之。”在元昊颁布了抗命者处死的秃发令后，秃发成为党项民族的一种象征。</p>
<p>元昊“秃发令”的具体要求是剃去头颅顶部的毛发，将前刘海蓄起来，从前额垂至面部两侧，在亚洲许多民族中都可以见这种发式的不同变体。史传元昊的秃发令在西夏国获得了较为普遍的实行，并获得了相当长时间的贯彻。在西夏以“秃发令”为开端的民族主义政策下，以党项族为主体的西夏势力不断发展，其疆域方圆二万余里，东尽黄河，西界玉门，南接萧关，北控大漠。今内蒙古阿拉善戈壁与鄂尔多斯草原及西部的巴盟、包头一带，皆属西夏所辖。</p>


<p>元昊秃发令、清朝入关后的剃发易服令以及民国初建时的“剪辫易服令”是中国历史上三次具有深远意义的“特殊法令”。作为中国历史上第一次发明“秃发”建政的西夏开国之君李元昊来说，其目的明确而且影响重大：</p>
<ul>
<li>
<p>其一，因为党项民族原来就是东北地区鲜卑系统的民族，由于迁到西北地区居住，与羌族混居，到唐宋之时，原属于鲜卑系统的党项民族的风俗习惯已基本上“羌化”，或称“吐蕃化”。元昊建国，为了唤醒和重建党项民族的民族自尊，加强党项民族内部的凝聚力，故以恢复鲜卑旧俗——“秃发”为号召，为元昊重建党项——鲜卑系统新王朝作准备。这就是西夏秃发令的主要政治目的；</p>
</li>
<li>
<p>其二，元昊思以秃发为标志，统一境内各民族对鲜卑党项的认同。不管是汉人、吐蕃、回鹘、鞑靼，均要统一在“鲜卑党项”的旗帜下，秃不秃发则是检验每一民族部落对鲜卑党项族的态度，元昊秃发令在西夏获得广大党项部族民众的拥护，故有“民争秃其发”的记载。而西夏此后之所以能够在四大国（宋、辽、金、蒙）的夹缝中生存并延绵近二百年，实与此“秃发令”所带来的强烈民族认同有着莫大的关系。</p>
</li>
</ul>
<p>反观清朝以少数民族入主中原，为实现其一族之长治久安，而以屠杀汉民族千万人生命为代价，实于人类历史所鲜见。中国历史上发生过多次北方游牧民族南下中原的情况，由于他们在文化上较为落后，他们不得不使用汉语汉文来统治汉族大众，并进一步发展至对汉文化的向往和倾慕，从而在文化层面向华夏趋同。五胡、西夏、辽、金、蒙等少数民族大多走上了这样一条由盛及衰之路。</p>
<p>唯独清朝帝国的开创者努尔哈赤、奠基者皇太极、实际缔造者多尔衮在借鉴前人的经验教训基础上，企图既要保持满族对汉族的统治，又要务使不被汉族同化。他们难以让数量数百倍于满族的汉族民众学习使用满文满语，但却可以让汉人丢弃自己民族的衣冠发式。</p>
<p>如果说语言文字是文化的内涵，那么衣冠发式等就是文化的外观。而且很多时候外观重于内涵。外观一眼便及，内涵须进入才知。更何况大量的汉族民众都是文盲、半文盲。对于他们来说外观几乎就是一切。一旦汉族广大民众在外观形貌上和满族一体，不明就里的汉人就不再把人数极少的满人视为异类。</p>
<p>尤其当因剃头令的杀戮逐渐被历史的尘埃遮盖，汉族士人一批批赶往科举考场再派往四处为官时，汉人就不再把清朝看成是从塞外入主中原的戎狄，丝毫不会萌发欲将其驱离的念头。这样清朝就安然渡过了五胡、契丹、女真、蒙古未能逾越的文化和族群深壑。而清朝的铁腕屠刀，不但砍下了最具民族意识、最具反抗精神的汉人的头颅，而且以满汉一体的衣冠发式，麻醉了“好死不如赖活”的汉人神经，以至辛亥革命成功以后，居然有许多人不肯剪辫子，在被迫剪去时竟如丧考妣号啕大哭。</p>
<p>再深而言之，人类社会在个体家庭的基础上产生了族群，在民族的基础上产生了国家。而民族概念的出现，是人类基于相同的地理、气候、自然资源、生产方式以及语言和信仰而建立的某种利益共同体。这个利益共同体为了使自己的利益最大化，而以各种方式组织共同体内部的所有人或者联合其他共同体一起，成为一个国家（这就是单一民族国家和多民族国家）。</p>

<h2></h2>


<blockquote><h1>原题为：西夏：一个文明高度发达的少数民族王朝 作者：余钊飞</h1></blockquote>



<p><b>内容摘要：公元1038年，党项拓跋部落历经李继迁、李德明两代积累，在李元昊带领下创建了著名的西夏王朝，开创了历史上著名的西夏文明，成为中华文明的重要组成部分。随着唐王朝的建立和强大，在唐太宗李世民“夷夏一家”的民族包容政策引导下，党项部落在唐初内附，并迁居陕北黄土高原，在唐末建立了以夏州为核心的强大地方势力。从青藏高原走向黄土高原，意味着党项人从游牧文明向农耕文明过渡，也标志着党项人和汉族等民族进行全面的交流与合作。唐末宋初，党项人逐步控制了陕北高原、河套平原、河西走廊以及青海新疆部分地区，完成了西北地区的局部统一，创造了独特而辉煌的西夏文明。游牧文明和农耕文明高度融合西夏特殊的地理位置和党项人的民族特色，使西夏文明具备典型的地域特色和民族特色。</b></p>

<p>关键词：党项人;王朝;法律制度;西北地区</p>

<p>公元1038年，党项拓跋部落历经李继迁、李德明两代积累，在李元昊带领下创建了著名的西夏王朝，开创了历史上著名的西夏文明，成为中华文明的重要组成部分。党项部落发源于青藏高原，随着吐谷浑、吐蕃势力的强大被迫离开故土。随着唐王朝的建立和强大，在唐太宗李世民“夷夏一家”的民族包容政策引导下，党项部落在唐初内附，并迁居陕北黄土高原，在唐末建立了以夏州为核心的强大地方势力。从青藏高原走向黄土高原，意味着党项人从游牧文明向农耕文明过渡，也标志着党项人和汉族等民族进行全面的交流与合作。党项人对于唐王朝的向往和忠诚在协助唐朝平定黄巢起义中全面展现，唐文化对党项人影响深刻。在这个过程中，党项人广泛吸收汉唐文化，日常交流也以汉字为主，汉传佛教也基本成为党项人的主要信仰；这对后来西夏王朝的政治、经济、文化、法律制度形成了极大的影响。唐末宋初，党项人逐步控制了陕北高原、河套平原、河西走廊以及青海新疆部分地区，完成了西北地区的局部统一，创造了独特而辉煌的西夏文明。</p>
<p><strong>大国夹缝中的独立政权</strong></p>
<p>西夏王朝建立以后，前期与北宋、辽对峙形成三足鼎立局面，后期对南宋、金三国鼎立，立国190余年，建立了在中国历史上影响重大的少数民族政权。</p>
<p>作为一个在宋辽金等大国夹缝中生存的独立政权，西夏王朝以军事实力为基础，以务实外交为导向，在夹缝中巩固和稳定政权。西夏王朝存续期间，历代统治者高度重视农业、牧业、冶铁业发展，西夏控制著名的宁夏平原、河套平原、河西走廊，通过历代开发，在农业生产方面取得了长足的进步。西夏统治者鼓励开荒和农耕，中原地区较为先进的农业生产技术被广泛引入，西北地区的农业生产取得了空前发展，建成了兴庆府这座仅次于长安城的西北地区大型城市。西夏时期，重视与周边政权的贸易往来，其中所产夏州一带的青盐、河西走廊的骏马成为当时与北宋进行榷场贸易的重要物资；其锻造的“夏国剑”更是享誉天下。由此可见西夏的经济发展水平达到了较高水准。近年来，随着西夏学研究的不断深入发展，大量的民间契约文书相继得到整理，表明土地买卖、商品交易在西夏境内非常频繁。这些历史表明，西夏已经从游牧民族转型成农耕为主、牧业为辅的典型农耕社会。</p>
<p>随着经济社会的发展，西夏政治、经济、文化、法律制度全面向中原王朝学习。西夏建国初期，李元昊学习唐宋制度，创建西夏文、确立官制、兴修水利、确立军事制度和法律制度，建立了一套全面吸收唐宋文化和党项人民族特色的治国制度。历代西夏最高统治者都高度重视法律制度建设，如李仁孝在位期间颁布的《天盛律令》，展示出了西夏王朝极高的立法水准和成就，与《宋刑统》并列为那个时代的杰出立法成果，同时也是当时第一部全面刊印的治国法典。《天盛律令》上承《唐律》，下接《宋刑统》，中纳党项人特色习惯法，成为融会贯通中原文明和党项文明的经典之作。</p>
<p>在长期和宋朝对峙期间，西夏给宋朝西北地区带来了巨大的军事压力，好水川之战、三川口之战等著名战役中，西夏军队多次以少胜多，给北宋政权带来巨大的军事压力；中原王朝对西夏的存在十分敌视，称西夏为伪夏。在西夏的后期，蒙古人征战四方，成吉思汗20多年中多次发动征服西夏的军事行动，但遭到西夏人的强烈抵抗，成吉思汗病逝在攻灭西夏之即，是故蒙元政权对西夏也是相当敌视。蒙古灭夏过程对西夏文化造成了毁灭性打击，蒙古人编修《辽史》《金史》，独不修“西夏史”。
</p>
<p><strong>游牧文明和农耕文明高度融合</strong></p>
<p>西夏特殊的地理位置和党项人的民族特色，使西夏文明具备典型的地域特色和民族特色。西夏地形、气候等自然条件复杂，既有黄河冲积平原和肥沃的河西走廊，也有贺兰山、祁连山等著名的山地草场，也有贫瘠的陕北高原和一望无际的大漠。自然资源禀赋的差异使得西夏境内的经济生产方式具备了多样性。西夏既有党项族原本擅长的牧业经济，也有新开疆土肥沃平原的农耕生产；因此从经济发展形态上看，西夏国的农牧业并行发展；同时由于西夏控制丝绸之路中的要道，因此也比较重视商业贸易。</p>
<p>党项人作为游牧民族，以军马立国，重视传统畜牧业。《天盛律令》中关于畜牧业生产的法律条文是唐律的数倍，且内容丰富。如《牧场官地水井门》《牧盈能职事管门》《校畜磨勘门》中对于官牧场地的界限、管理机构、畜产品交纳都有细致规定，同时也对于畜产品的生产使用和交易作出了相应规定。这些措施相较于以农耕文明为主体的中原王朝的法典有着显著的民族特色。自党项人占据宁夏平原和河西走廊后，西夏开启了农业立国的历史进程，“以农为本”的立国思想和儒家治国思想在西夏逐渐占据主导地位。西夏对于农田水利建设极其重视。《天盛律令》中《春开渠事门》《灌渠门》《地水杂罪门》等法规对农田、水渠、灌溉、水利工程建设管理都作了详细规定。</p>
<p>农业的发达为西夏的繁荣昌盛打下了坚实的物质基础，儒家思想、科举制度等中原王朝的政治文明开始在西夏结出新硕果。西夏中后期以儒教治国，主要表现在制度、法律和教育上。西夏的崇宗乾顺重视文教，大力发展儒学，建立学校，在西夏文化史上起到了划时代的作用；其子仁宗仁孝，提倡文教，实行科举，修订律令，尊孔子为文宣帝，更使西夏尊崇儒学达到顶峰。《天盛律令》更是一部儒家思想法律化的典型。“德礼为政教之本、刑罚为政教之用”的“德主刑辅”唐律核心思想贯穿始终；“十恶”“五刑”“八议”“五服”“七出”等中原王朝法典的经典制度在其中全面展现，深刻体现了西夏中后期“礼法合一”的立法思想；也象征着党项人在法律继承和法律移植方面的卓越水平。此外，佛教是西夏宗教信仰的主流，由于皇室大力提倡，官方色彩浓重。西夏的佛教源于中原，又借鉴吐蕃，佛道兼容是西夏的一大特色。</p>
<h2>end</h2>

